@import "./utils/mixins";
@import "./utils/variables";
@import "./layouts/font";
@import "./page/page";
@import "./component/button";
@import "./component/icon";
@import "./component/animation";
.top{
    background-color: $primary-color;
    .logo{
    width: 100%;
    
    @media screen and (min-width : 400px){
        width: 400px;
        margin-left: 23%;
    }
    @media screen and (min-width : 1025px){
        width: 400px;
        margin-left: 36%;
    }
}
}

#nav{
    display: flex;
    .menu{
        width: 50%;
        display: flex;
        p{
            margin: 1rem auto;
            font-size: 20px;
            font-family: roboto,serif,sans-serif;
        }
    }
    :hover{
        background-color: $primary-color;
    }
}
h1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5rem 1rem;
    font-family: roboto, serif, sans-serif;
    @media screen and (min-width : 1025px){
        font-size: 30px;
        text-align: center;
    }
}
footer{
    width: 100%;
    height: 80px;
    margin-top: 2rem;
    background-color: $primary-color;
    @media screen and (min-width : 1025px){
        margin-top: 4rem;
        height: 150px;
    }
    ul{
        list-style: none;
        padding: 1rem;
        font-size: 18px;
        font-family: roboto, serif,sans-serif;
        font-weight: 300;

        @media screen and (min-width : 400px){
            padding: 1rem 15rem;
            text-align: center;
        }        
        @media screen and (min-width : 1025px){
            padding: 3rem 3rem;
            text-align: center;
        }
    }
}

