
.btn{
    background-color: $primary-color;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    font-family: roboto, serif, sans-serif;
    border: 3px solid $secondary-color;
    &:hover{
        transform: scale(1.1);
    }
    @media screen and (min-width : 1025px){
        margin: 20px auto;
    }
}

.trash{
   width: 100px;
   margin: 0 auto;
   border: 1px solid $secondary-color;
   border-radius: 20px;
   background-color: white;
    margin-top: 4px;
    &:hover{
        transform: scale(1.1);
    }
    @media screen and (min-width : 1025px){
        margin: 0;
    }
}
