.fas{
    margin-right: 10px;
    font-size: 25px;
}
.fa-circle{
    font-size: 0.8rem;
    margin-right: 5px;
    color: yellowgreen;
}
.fa-plus-circle{
    font-size: 4rem;
    position: absolute;
    color: transparent;
}
.fa-trash-alt{
    font-size: 20px;
    margin-left: 10px;
    color: $secondary-color;
}