.all-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (min-width : 1025px){
        width: 90%;
        margin: 0 auto;
    }
}
.article{
    width: 150px;
    height: 220px;
    margin: 1.5rem 0.9rem;
    box-shadow: 5px 35px 10px $primary-color;
    @media screen and (min-width : 1025px){
        width: 250px;
        margin: 3rem 3rem 7rem 3rem;
        :hover{
            .hover{
                background-color: rgba(255, 255, 255, 0.5) ;
                height: 250px;
                width: 250px;
                position: absolute;
                .fa-plus-circle{
                    position: absolute;
                    top: 6rem;
                    right: 5rem;
                    color: $secondary-color;
                }
            }
        }
    }
    .img-article{
        height: 150px;
        width: 150px;
    }
    .description-article{
        background-color: white;
        height: 100px;
        border-radius: 0 0 10px 10px;
        border-top: 1px solid $primary-color;
        @media screen and (min-width : 1025px){
            margin-top: 100px;
            box-shadow: 5px 10px 10px $primary-color;
        }
    }
    .picture{
        border-radius: 10px 10px 0 0 ;
        @media screen and (min-width : 1025px){
            width: 250px;
        }
    }

}
.item{
    padding-top: 0.1rem;
    margin: 0.2rem 0 1rem 0 ;
    p{
        text-align: center;
        margin: 0.5rem 0;
    }
}
.product-global{
    width: 100%;
    margin: 0 auto;
}
.all-description{
    width: 90%;
    margin: 0 auto;
    h2{
        font-family: roboto, serif, sans-serif;
        font-size: 18px;
        text-align: center;
        margin: 100px auto;
        font-weight: 300;
        @media screen and (min-width : 1025px){
            margin: 90px 0 40px 0;
        }
    }
    .product-option{
        width: 31%;
        margin: 0 auto;
        @media screen and (min-width : 1025px){
            margin: 10px;
            height: 70px;
        }
        #color{
            margin-top: 20px;
            font-size: 20px;
            padding-left: 10px;
            border: 3px solid $secondary-color;
            border-radius: 10px;
        }
    }
    .amount{
        width: 21%;
        margin: 0 auto;
        @media screen and (min-width : 1025px){
            margin: 0 0 0 15px;
        }
        .input{
            width: 50px;
            margin: 10px auto;
            font-size: 20px;
            text-align: center;
            border: 3px solid $secondary-color;
            border-radius: 10px;
        }
    }
    .panier{
        width: 65%;
        margin: 0 auto;
        @media screen and (min-width : 1025px){
            width: 200px;

        }
    }
 
}
.picture{
        .img{
            width: 300px;
            display: block;
            margin: 0 auto;
            @media screen and (min-width : 1025px){
                width: 400px;
            }
        }
    }
.product{
    @media screen and (min-width : 1025px){
        display: flex;
        width: 70%;
        margin: 0 auto;
    }
}
.option{
    @media screen and (min-width : 1025px){
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
    }
}

