.all-teddies{
    list-style: none;
    text-align: center;
    padding: 0;

    @media screen and (min-width : 1025px){
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        justify-content: space-around;
    }
    img{
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 10px 10px 0 0 ;
        border-bottom: 1px solid $secondary-color;
    }
    li{
        width: 250px;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        margin: 30px auto;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
        @media screen and (min-width : 1025px){
            margin:20px;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
}
    .img-article{
        height: 150px;
        width: 150px;
    }
    .description-article{
        background-color: white;
        height: 100px;
        border-radius: 0 0 10px 10px;
        border-top: 1px solid $primary-color;
        @media screen and (min-width : 1025px){
            margin-top: 100px;
            box-shadow: 5px 10px 10px $primary-color;
        }
    }
    .picture{
        border-radius: 10px 10px 0 0 ;
        @media screen and (min-width : 1025px){
            width: 250px;
        }
    }
.item{
    padding-top: 0.1rem;
    margin: 0.2rem 0 1rem 0 ;
    p{
        text-align: center;
        margin: 0.5rem 0;
    }
}
.product-global{
    width: 100%;
    margin: 0 auto;
}
.all-description{
    width: 90%;
    margin: 0 auto;
    h2{
        font-family: roboto, serif, sans-serif;
        font-size: 18px;
        text-align: center;
        margin: 20px auto;
        font-weight: 300;
        @media screen and (min-width : 1025px){
            margin: 90px 0 40px 0;
        }
    }
    .product-option{
        width: 31%;
        margin: 0 auto;
        @media screen and (min-width : 1025px){
            margin: 10px;
            height: 70px;
        }
        #color{
            margin-top: 20px;
            font-size: 20px;
            padding-left: 10px;
            border: 3px solid $secondary-color;
            border-radius: 10px;
        }
    }
    .amount{
        width: 21%;
        margin: 0 auto;
        @media screen and (min-width : 1025px){
            margin: 0 0 0 15px;
        }
        .input{
            width: 50px;
            margin: 10px auto;
            font-size: 20px;
            text-align: center;
            border: 3px solid $secondary-color;
            border-radius: 10px;
        }
    }
    .panier{
        width: 65%;
        margin: 0 auto;
        @media screen and (min-width : 1025px){
            width: 200px;

        }
    }
}
.picture{
        .img{
            width: 300px;
            display: block;
            margin: 0 auto;
            @media screen and (min-width : 1025px){
                width: 400px;
            }
        }
    }
.product{
    @media screen and (min-width : 1025px){
        display: flex;
        width: 70%;
        margin: 0 auto;
    }
}
.option{
    @media screen and (min-width : 1025px){
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
    }
}
.order{
    ul{

        padding: 0;
        margin: 0 auto;
        font-family: roboto,serif,sans-serif;
        li{
            width: 98%;
            list-style: none;
            display: flex;
            border: 2px solid $secondary-color;
            border-radius: 5px;
            @media screen and (min-width : 1025px){
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}
.info{
    display: flex;
    margin: 0 10px;
    p{
        font-size: 20px;
        margin: 20px 30px;
    }
}
.action{
    margin-left: 30px;
    @media screen and (min-width : 1025px){
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .number{
        display: flex;
        align-items: center;    
        input{
            width: 20px;
            height: 15px;
            margin: 0 50px 0 10px;
            border: 3px solid $secondary-color;
            border-radius: 10px;
            @media screen and (min-width : 1025px){
                height: 30px;
                width: 50px;
            }
        }
    }
    p{
        margin: 7px;
    }
}
.total{
    border: 2px solid $secondary-color;
    border-radius: 5px;
    width: 130px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: 57%;
    font-family: roboto,serif,sans-serif;
    @media screen and (min-width : 1025px){
        margin-left: 82%;
    }
    h2{
        padding-left: 15px;
        font-size: 20px;
    }
    p{
        padding-left: 20px;
    }
}
.form{
    display: flex;
    flex-direction: column;
    font-family: roboto, serif, sans-serif;
    h3{
        font-size: 25px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 0.5rem 1rem;
        @media screen and (min-width : 1025px){
            text-align: center;
            font-size: 30px;
        }
    }
    form{
        border: 2px solid $secondary-color;
        border-radius: 5px;
        padding: 10px;
        font-size: 18px;
        @media screen and (min-width : 1025px){
            width: 70%;
            margin: 0 auto;
        }
        .exp{
            margin: 15px;
            border: 2px solid $secondary-color;
            border-radius: 5px;
            font-size: 15px;
            @media screen and (min-width : 1025px){
                font-size: 18px;
            }
        }
    }
    .input{
        display: flex;
        flex-direction: column;
        @media screen and (min-width : 1025px){
            padding: 0 50px;
        }
    }
}
.sex{
    display: flex;
    margin: 10px 0 20px 10px;
    @media screen and (min-width : 1025px){
        padding: 0 50px;
    }
    #women{
        margin-left: 20px;
    }
}
.ordered{
    margin: 20px auto;
    width: 61%;
    @media screen and (min-width : 1025px){
        width: 20%;
    }
}
.confirmation{
    font-family: roboto;
    text-align: center;
    h2{
        margin: 100px 0;
    }
    h3{
        margin-bottom: 100px;
    }
    .confirm{
        border: 3px solid $secondary-color;
        border-radius: 10px;
        @media screen and (min-width : 1025px){
            width: 50%;
            margin:0 auto;
        }
    }
}
label{
        position: absolute;
        color: #333;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 8px;
        transition: all 0.3s ease-in;
}
.anim{
    position: relative;
    label{
    position: absolute;
    color: #333;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 25px;
    transition: all 0.3s in;
    }
}
.anim:focus-within label,
.anim.active-input label{
    top: -2px;
    padding-left: 25px;
}
.sex{
    position: relative;
    #women{
          margin-left: 100px; 
    }
}






